/* Reset */
/*
* { all: unset; }
head { display: none; }
*/



/* Fonts */
@import "fonts.css";
* {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
header *, footer * {
  font-family: M-PLUS-Rounded-1c;
  font-weight: 900;
  font-size: 2rem;
  font-style: normal;
}
@media (max-width: 550px) {
  header *, footer * {
    font-size: 1.5rem;
  }
}
footer * {
  font-size: 1rem;
}
@media (max-width: 550px) {
  footer * {
    font-size: 1rem;
  }
}



/* Layout */

main, header, footer {
  display: block;
  width: 100%;
}

main *, header *, footer * {
  display: inline-block;
  max-width: 100%;
  overflow-wrap: normal;
}



/* Header */
header {
  z-index: 1;
}
h1 {
  font-family: M-PLUS-Rounded-1c;
  font-weight: 900!important;
  font-style: normal;
}
header > nav {
  padding: 0 auto;
}
header > nav > div {
  max-width: 1200px;
}



/* Footer */
.sneaky-link {
  color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  margin-bottom: 1rem;
  text-decoration: none;
}
footer hr {
  margin: 1rem 0;
  width: 25%;
}
footer > div {
  width: 75%;
  padding: 0 12.5%;
}



/* Content */
main {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 702px;
}
main > .container,
main > .container-fluid {
  margin-top: 2rem;
}
.false-header {
  height: 5rem;
  width: 100%;
}



/* Card */
.card {
  width: 20rem!important;
  margin-bottom: 2.5rem;
}

.card h4,
.card p {
  width: 100%;
}

.card.single-element {
  border-color: transparent;
}

.card.contact {
  margin-bottom: 0;
}



/* About Page */
img.about {
  width: 32rem;
  height: 24rem;
}
@media (max-width: 550px) {
  .d-flex.flip-on-mobile {
    flex-direction: column-reverse!important;
  }
  img.about {
    margin: 2rem 0;
  }
}



/* The Rest */
h2 {
  font-family: M-PLUS-Rounded-1c;
  font-weight: 900!important;
  font-style: normal;
  width: 100%;
  margin-bottom: 2rem;
}
h3 {
  font-family: M-PLUS-Rounded-1c;
  font-weight: 900!important;
  font-style: normal;
  width: 100%;
  margin-bottom: 2rem;
}

a.plain {
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

hr {
  margin: 4rem 0;
  width: 100%;
}

p.lg,
b.lg {
  font-size: 1.5rem;
}
p.x-lg,
b.x-lg {
  font-size: 2rem;
}
p.xx-lg,
b.xx-lg {
  font-size: 2.5rem;
}
